@import url("https://fonts.googleapis.com/css2?family=Blinker&family=Montserrat&family=Mulish:wght@400;500;600;700;900&family=Poppins:wght@300;400;500;600&family=Rubik:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --gray:#f9f9f9;
  --hero_title:5.5rem;
  --heading: 2.5rem;
  --normal: 1.7rem;
  --ff_mulish: "Mulish", sans-serif;
  --ff_pop: "Poppins", sans-serif;
  --categories: 1.7rem;
  --categories_color: #147efb;
  --section_padding: 10rem 0;
  --normal_color:#2d2e32;
}

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  -webkit-text-decoration: none solid rgb(45, 46, 50);
          text-decoration: none solid rgb(45, 46, 50);
}

li {
  list-style: none;
}

header {
  padding: 0 2rem;
  position: fixed;
  top: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  z-index: 200;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}

.navbar {
  width: 100%;
  height: 7rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo a {
  font-size: var(--normal);
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
  font-size: var(--normal);
}
.navbar .links a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-size: var(--normal);
}
.navbar .links a:hover {
  color: var(--categories_color);
}

.navbar .toggle_btn {
  color: #020202;
  font-size: var(--normal);
  cursor: pointer;
  display: none;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.855, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 1.6rem;
}

.hero {
  background-color: #f9f9f9;
}

.hero_main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}
.hero_main .hero_container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.hero_main .hero_container .hero_text {
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.hero_main .hero_container .hero_text .web_dev {
  font-size: 5.5rem;
  font-family: var(--ff_pop);
  font-weight: bold;
  line-height: 6.6rem;
}
.hero_main .hero_container .hero_text .intro {
  font-size: var(--normal);
  color: #767676;
  line-height: calc(var(--normal) * 1.5);
}
.hero_main .hero_container .hero_text .accounts {
  display: flex;
  gap: 1.6rem;
}
.hero_main .hero_container .hero_text .accounts img {
  width: 3.2rem;
}
.hero_main .hero_container .hero_img {
  flex-basis: 37rem;
}
.hero_main .hero_container .hero_img img {
  max-width: 100%;
  max-height: auto;
  border-radius: 999px;
}
.hero_main .tech_stack {
  padding-left: 5.5rem;
  display: flex;
}
.hero_main .tech_stack .tech_text {
  font-size: var(--normal);
  align-self: center;
}
.hero_main .tech_stack .tech_img {
  display: flex;
  gap: 3.2rem;
}
.hero_main .tech_stack .tech_img img {
  width: 50px;
}

.about_main {
  display: flex;
  flex-direction: row;
  gap: 2.8rem;
  padding: var(--section_padding);
}
.about_main .img_container {
  flex: 1;
  display: flex;
  justify-content: center;
}
.about_main .img_container img {
  width: 410px;
  height: 350px;
  border-radius: 3rem;
}
.about_main .about_text {
  flex: 1;
}
.about_main .about_text .about_title {
  font-size: var(--normal);
  font-weight: bold;
  color: var(--categories_color);
  margin-bottom: 0.8rem;
}
.about_main .about_text .about_position {
  font-size: var(--heading);
  line-height: calc(var(--heading) * 1.2);
  font-weight: bold;
  margin-bottom: 1.6rem;
}
.about_main .about_text .about_info {
  font-size: 1.7rem;
  color: #767676;
  line-height: 2.56rem;
  font-family: var(--ff_mulish);
}

.projects {
  background-color: var(--gray);
  padding: var(--section_padding);
}
.projects .portfolio {
  font-size: var(--normal);
  color: var(--categories_color);
  font-weight: bold;
  margin-bottom: 3.2rem;
}
.projects .project_wrapper {
  display: flex;
  gap: 3.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1.6rem;
  border-radius: 1.6rem;
  margin-bottom: 4.8rem;
}
.projects .project_wrapper .project_img {
  flex: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 1.6rem;
  background-image: url(/img/skills/Screenshot\ \(112\).png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 35rem;
}
.projects .project_wrapper .project_img img {
  width: 100%;
  height: 400px;
}
.projects .project_wrapper .project_text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
}
.projects .project_wrapper .project_text .project_title {
  font-size: var(--normal);
  color: #2d2e32;
  font-weight: bold;
  text-align: center;
}
.projects .project_wrapper .project_text .project_desc {
  font-size: var(--normal);
  text-align: center;
  color: #767676;
  font-weight: 500;
  font-family: var(--ff_mulish);
  line-height: calc(var(--normal) * 1.6);
}
.projects .project_wrapper .project_text .project_tech {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.8rem;
}
.projects .project_wrapper .project_text .project_tech span {
  font-size: var(--normal);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem 1.3rem;
  margin-right: 1.6rem;
}
.projects .project_wrapper .project_text .project_links {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
  font-size: var(--normal);
}
.projects .project_wrapper .project_text .project_links a {
  text-decoration: none;
  color: var(--normal_color);
}
.projects .project_wrapper .project_text .project_links a:hover {
  color: var(--categories_color);
}
.projects .project_wrapper .project_text .project_links .code {
  display: flex;
  gap: 0.8rem;
}
.projects .project_wrapper .project_text .project_links .live_link {
  display: flex;
  gap: 0.8rem;
}

.contact_wrapper {
  padding: var(--section_padding);
}
.contact_wrapper .title {
  font-size: var(--categories);
  color: var(--categories_color);
  font-weight: bolder;
  margin-bottom: 0.8rem;
}
.contact_wrapper .tag {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 2.8rem;
}
.contact_wrapper .info {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.contact_wrapper .info .location, .contact_wrapper .info .email {
  cursor: pointer;
  display: flex;
  gap: 1.8rem;
  align-items: center;
  font-size: var(--normal);
}
.contact_wrapper .info .location span, .contact_wrapper .info .email span {
  width: 5rem;
  height: 5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--categories_color);
}
.contact_wrapper .info .location a, .contact_wrapper .info .email a {
  text-decoration: none;
  color: var(--normal_color);
}
.contact_wrapper .info .location a:hover, .contact_wrapper .info .email a:hover {
  color: var(--categories_color);
}
.contact_wrapper .info .info_title {
  font-weight: bold;
}
.contact_wrapper .info .info_sub {
  font-size: var(--normal);
  font-family: var(--ff_mulish);
  color: var(--normal_color);
}

.footer {
  background-color: #2d2e32;
}

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  padding: var(--section_padding);
}
.footer_wrapper .copywrite {
  font-size: var(--normal);
  color: #f9f9f9;
}
.footer_wrapper .links a {
  color: white;
}
.footer_wrapper .links a svg {
  margin-right: 1.6rem;
}
.footer_wrapper .links a:hover {
  color: var(--categories_color);
}

@media (max-width: 782px) {
  .navbar .links {
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
  .hero_container {
    margin-bottom: 1.6rem;
  }
  .hero_container .hero_text .intro, .hero_container .hero_text .web_dev {
    text-align: center;
  }
  .hero_container .hero_text .accounts {
    justify-content: center;
    align-items: center;
  }
  .hero_container .hero_img {
    display: none;
  }
  .about_main {
    flex-direction: column;
  }
  .project_wrapper {
    flex-direction: column;
  }
  .project_wrapper .project_img {
    background-image: url(/img/gon1.png);
    background-repeat: no-repeat;
    width: 100%;
  }
  .contact_wrapper .info {
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }
}/*# sourceMappingURL=style.css.map */